<div>
	<h1>Home</h1>
	<% if signed_in? %>
	<% else%>
	<p>Hi! Sign up Now !!</p>
	<p>This Home Page is for first visited user</p>
	<ul>
		<li><%= link_to "facebookでlogin", "/auth/facebook" %></li>
		<!-- noztomcheck Twitter ログインは本番URLが必要なのでherokuに挙げた後-->
		<li><%= link_to "Twitterでログイン", "/auth/twitter" %></li>	
	<%end%>
</div>

