<% if @wanted_lists.errors.any? %>
<div id="error_explanation">
 <div class="alert alert-error">
  The form contains <%= pluralize(@wanted_lists.errors.count, "error") %>.
 </div>
 <ul>
 <% @wanted_lists.errors.full_messages.each do |msg| %>
   <li>* <%= msg %></li>
 <% end %>
 </ul>
 </div>
<% end %>
